ScrollArea {
    border: none;
    background-color: transparent;
}

HomeInterface{
    border-left: 1px solid rgb(229, 229, 229);
    background-color: rgb(249, 249, 249);
}

#badgeWidget {
    background-color: rgba(59, 130, 246, 0.1);
    border: 1px solid rgba(59, 130, 246, 0.2);
    border-radius: 20px;
}
